:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.soft-orange-bg {
  background-color: #EFD67C;
}

.center-text {
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.width {
  width: 100%;  
}

.margin {
  margin: 4.5rem 4.5rem 4.5rem 4.5rem;
}

.wide-article {
  width: 50%;
}

.title-pad {
  padding-top: 2rem;
  padding-left: 17rem;
  padding-right: 17rem;
}

.title-text-pad {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: lighter;
  font-size: 17px;
  width: 91%;
  line-height: 30px;
}

.letter-spacing {
  line-height: 20px;
}

.title {
  height: 11rem;
}

.font-weight {
  font-weight: 900;
}

h1 {
  margin-top: 0px;
}
