:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.soft-orange-bg {
  background-color: #EFD67C;
}

.center-text {
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.margin {
  margin: 3rem 3rem 3rem 3rem;
}

.title-pad {
  padding-top: 2rem;
  padding-left: 17rem;
  padding-right: 17rem;
}

.title-text-pad {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: lighter;
  font-size: 17px;
  width: 91%;
  line-height: 30px;
}

.letter-spacing {
  line-height: 27px;
}

.title {
  height: 11rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.font-weight {
  font-weight: 900;
}

h1 {
  margin-top: 0px;
}

.read-more-weight {
  font-weight: 900;
}

.read-more-hr {
  display: flex;
  margin: 0rem 0rem 0rem 0rem;
  height: 4px;
  background-color: black;
  width: 15%;
}

p {
  margin: 0rem 0rem 0rem 0rem;
}

.wide-article-title {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.small-article {
  width: 50%;
  padding-top: 5rem;
}

.bottom-left-organize {
  display: flex;
  flex-direction: row;
}

.bottom-left-organize-p2 {
  display: flex;
  flex-direction: row;
}

.pad-left {
  padding-left: 5rem;
}

.article-text-font {
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  height: 6.5rem;
}

.organize {
  display: flex;
  flex-direction: column;
  margin-left: 30.2rem;
  padding-left: 4rem;
  
  align-items: flex-start;
  width: 60%;
}

.w {
  width: 20%;
}

.test {
  /* top: 0%; */
  /* height: 50%; */
  width: 40%;
}


/* NEW */

.left-side {
  display: flex;
  width: 95%;
  flex-flow: row wrap;
}

.wide-article2 {
  width: 50%;
  margin-bottom: 5rem;
}

.small-article2 {
  width: 25%;
}

.text-wrap {
  width: 75%;
}

.article-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 1.5rem;
}

.article-text {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5rem;
}

.read-more {
  font-weight: 900;
  cursor: pointer;
}

.hr-line {
  background-color: black;
  height: 4px;
  margin-left: 0rem;
  width: 5.7rem;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline {
  text-decoration-line: underline;
  font-weight: bolder;
}

.padding-top {
  padding-top: 1rem;
}
