:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.soft-orange-bg {
  background-color: #EFD67C;
}

.center-text {
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.margin {
  margin: 4.5rem 4.5rem 4.5rem 4.5rem;
}

.wide-article {
  width: 100%;
}

.title-pad {
  padding-top: 2rem;
  padding-left: 17rem;
  padding-right: 17rem;
}

.title-text-pad {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: lighter;
  font-size: 17px;
  width: 91%;
  line-height: 30px;
}

.letter-spacing {
  line-height: 27px;
}

.title {
  height: 11rem;
}

.font-weight {
  font-weight: 900;
}

h1 {
  margin-top: 0px;
}

.read-more-weight {
  font-weight: 900;
}

.read-more-hr {
  display: flex;
  margin: 0rem 0rem 0rem 0rem;
  height: 4px;
  background-color: black;
  width: 15%;
}

p {
  margin: 0rem 0rem 0rem 0rem;
}

.wide-article-title {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.small-article {
  width: 50%;
  padding-top: 5rem;
}

.bottom-left-organize {
  display: flex;
  flex-direction: row;
}

.bottom-left-organize-p2 {
  display: flex;
  flex-direction: row;
}

.pad-left {
  padding-left: 5rem;
}

.article-text-font {
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  height: 6.5rem;
}

/* RIGHT SIDE OF SCREEN */

.organize {
  display: flex;
  flex-direction: column;
  margin-left: 30.2rem;
  padding-left: 4rem;
  
  align-items: flex-start;
  width: 60%;
}

.w {
  width: 20%;
}

.test {
  /* top: 0%; */
  /* height: 50%; */
  width: 40%;
}
